.Hamburger-wrapper {
    display: flex;
}

.Hamburger {
    display: block;
    position: relative;
    width: 25px;
    height: 30px;
    margin-left: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: transform 0.3s;
}

.Hamburger.show {
    transform: rotate(90deg);
}

.Hamburger:focus {
    outline: none;
}

.Hamburger .filling {
    display: block;
    position: absolute;
    top: 14px;
    left: 0px;
    right: 0px;
    height: 2px;
    background: #9d9d9d;
}

.Hamburger .filling::before,
.Hamburger .filling::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: #9d9d9d;
    content: "";
}

.Hamburger .filling::before {
    top: -10px;
}

.Hamburger .filling::after {
    bottom: -10px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: fixed;
    background: #9d9d9d;
    min-width: 100px;
    left: 0px;
    top: 70px;
    border-radius: 0px 0px 4px 0px;
    z-index: 1000;
}

.dropdown-content.show {
    display: inline-block;
}

.dropdown-item {
    display: block;
    line-height: 20px;
    padding: 0px 20px;
    font-size: 18px;
    line-height: 30px;
    color: #242f67;
    text-decoration: none;
}

.dropdown-item:hover {
    color: #9d9d9d;
    background: #242f67;
}

.dropdown-item:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    margin-top: 30px;
    left: 0;
    background-color: yellow;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.dropdown-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
