.AppFrame {
    position: fixed;
    width: 100%;
    z-index: 10;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #242f67;
    height: 70px;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.small-header-left {
    display: none;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 960px) {
    .small-header-left { display: flex; }
    .header-left { display: none; }
}

.top-row {
    color: #9d9d9d;
    padding: 5px;
    margin: 10px;
    display: flex;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    font-size: 18px;
    font-weight: 100;
    position: relative;
}

.top-row:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.top-row:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


.top-row.active {
    color: lightgrey;
    border-bottom: 1px solid yellow;
}
