.Footer {
    /*position: relative;*/
    bottom: 0px;
    width: 100%;
    height: 300px;
    background: lightgrey;
    border-top: 1px solid grey;
    /*margin-top: 10px;*/
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link-item.fa {
    color: #242f67;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
    -webkit-transition: all 0.3s ease-in-out 0s;
         -moz-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
           -o-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
}

.link-item.fa:hover {
    color: #663366;
    font-size: 40px;
}

.external-links {
    margin-top: 15px;
}

.extra-footer .willLaugh4Food {
    border-radius: 50%;
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

.extra-footer .made-by {
    margin-bottom: 5px;
}

.extra-footer .made-by, .view-source {
    font-weight: 100;
    color: #666;
}

.extra-footer .view-source a {
    text-decoration: none;
    color: #3366BB;
}

.extra-footer .fa-gavel {
    transform: rotate(90deg);
    color: goldenrod;
    font-size: 32px;
}
