.ImageCycle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/*this set of transformations spins the animation over itself*/
.flipping-logo-wrapper {
    -webkit-animation: flipping-logo-wrapper 8s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: flipping-logo-wrapper 8s linear infinite; /* Firefox 5-15 */
         -o-animation: flipping-logo-wrapper 8s linear infinite; /* Opera 12+ */
            animation: flipping-logo-wrapper 8s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */ 
    min-height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes flipping-logo-wrapper {
    25%, 100% { transform: rotateY(360deg); }
}

@-webkit-keyframes flipping-logo-wrapper {
    25%, 100% { transform: rotateY(360deg); }
}

@-moz-keyframes flipping-logo-wrapper {
    25%, 100% { transform: rotateY(360deg); }
}

@-o-keyframes flipping-logo-wrapper {
    25%, 100% { transform: rotateY(360deg); }
}

/*this set of transformations rotates the image*/
.spinning-logo {
    -webkit-animation: spinning-logo 8s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: spinning-logo 8s linear infinite; /* Firefox 5-15 */
         -o-animation: spinning-logo 8s linear infinite; /* Opera 12+ */
            animation: spinning-logo 8s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */ 
    width: 100px;
}

@keyframes spinning-logo {
    25%, 100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spinning-logo {
    25%, 100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spinning-logo {
    25%, 100% { -webkit-transform: rotate(360deg); }
}

@-o-keyframes spinning-logo {
    25%, 100% { -webkit-transform: rotate(360deg); }
}

.orbit {
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/*this set of transformations orbits the little yellow planet*/
.planet {
    position: absolute;
    width: 10px;
    height: 10px;
    background: yellow;
    border-radius: 50%;
    -webkit-animation: myOrbit 8s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit 8s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit 8s linear infinite; /* Opera 12+ */
            animation: myOrbit 8s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */ 
}

/*this is very unfortunate but necessary for dealing with safari*/
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
    .planet { 
        margin-top: 85px;
        margin-left: -95px;
    }
}}

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}


.react { width: 200px; }
.redux { width: 150px; }
.me { 
    width: 51px;
    height: 101px;
}
