.Banner {
    /*cool one*/
    background: #ff00cc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff00cc , #333399); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff00cc , #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
             
    height: 500px;
    padding: 20px;
    padding-top: 150px;
    text-align: center;
}

.dev-name {
    font-size: 60px;
    margin-top: 80px;
    font-family: inherit;
    color: skyblue;
    opacity: 0;
    -webkit-transition: all 1.5s ease-in-out 0s;
         -moz-transition: all 1.5s ease-in-out 0s;
          -ms-transition: all 1.5s ease-in-out 0s;
           -o-transition: all 1.5s ease-in-out 0s;
              transition: all 1.5s ease-in-out 0s;
}

.dev-name.fade-in {
    opacity: 1;
    margin-top: 0px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

/*this set of transformations spins the animation over itself*/
.spinning-logo-wrapper {
    -webkit-animation: spinning-logo-wrapper 8s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: spinning-logo-wrapper 8s linear infinite; /* Firefox 5-15 */
         -o-animation: spinning-logo-wrapper 8s linear infinite; /* Opera 12+ */
            animation: spinning-logo-wrapper 8s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */ 
    min-height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spinning-logo-wrapper {
    25%, 100% { transform: rotateY(360deg); }
}

@-webkit-keyframes spinning-logo-wrapper {
    25%, 100% { transform: rotateY(360deg); }
}

@-moz-keyframes spinning-logo-wrapper {
    25%, 100% { transform: rotateY(360deg); }
}

@-o-keyframes spinning-logo-wrapper {
    25%, 100% { transform: rotateY(360deg); }
}

/*this set of transformations rotates the image*/
.spinning-logo {
    -webkit-animation: spinning-logo 8s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: spinning-logo 8s linear infinite; /* Firefox 5-15 */
         -o-animation: spinning-logo 8s linear infinite; /* Opera 12+ */
            animation: spinning-logo 8s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */ 
    width: 100px;
}

@keyframes spinning-logo {
    25%, 100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spinning-logo {
    25%, 100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spinning-logo {
    25%, 100% { -webkit-transform: rotate(360deg); }
}

@-o-keyframes spinning-logo {
    25%, 100% { -webkit-transform: rotate(360deg); }
}

.orbit {
    position: relative;
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/*this set of transformations orbits the little yellow planet*/
.planet {
    position: absolute;
    width: 10px;
    height: 10px;
    background: yellow;
    border-radius: 50%;
    -webkit-animation: myOrbit 4s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit 4s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit 4s linear infinite; /* Opera 12+ */
            animation: myOrbit 4s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */ 
}

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(90px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(90px) rotate(-360deg); }
}


.react { width: 200px; }
.redux { width: 150px; }
.me { 
    width: 51px;
    height: 101px;
}
