.Banner {
    /*cool one*/
    background: #ff00cc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff00cc , #333399); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff00cc , #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
             
    width: calc(100% - 20px);
    height: 500px;
    padding: 10px;
    padding-top: 100px;
    text-align: center;
}

.dev-name, 
.dev-desc,
.dev-contact {
    font-family: inherit;
    color: skyblue;
    opacity: 0;
    -webkit-transition: all 1.5s ease-in-out 0s;
         -moz-transition: all 1.5s ease-in-out 0s;
          -ms-transition: all 1.5s ease-in-out 0s;
           -o-transition: all 1.5s ease-in-out 0s;
              transition: all 1.5s ease-in-out 0s;
}

.dev-name {
    margin-top: 80px;
    font-size: 60px;
    margin-bottom: 10px;
}

.dev-desc {
    margin-top: 80px;
    font-size: 30px;
    margin-bottom: 20px;
}

.dev-contact {
    display: inline-block;
    padding: 10px;
    width: 150px;
    margin: 80px auto 0px auto;
    font-weight: 100;
    font-size: 20px;
    border: 1px solid skyblue;
    text-decoration: none;
    cursor: pointer;
}

.dev-name.fade-in-first, 
.dev-desc.fade-in-second,
.dev-contact.fade-in-last {
    opacity: 1;
    margin-top: 0px;
}
